<p></p>
<div>
    <div id="outer-div" *ngIf="!isSuccessful">
        <button id="subscr-btn" (click)="getAllBooks()">Show All Books</button>
    <!-- <button id="subscr-btn" (click)="subscribeBook()">Subscribe New Book</button> -->
    </div>

    <div *ngIf="isSuccessful">
        <h3>Books Found:</h3>
        <table id="search-tbl">
            <tr>
                <th>BookId</th>
                <th>Title</th> 
                <th>Author</th> 
                <th>Publisher</th>  
                <th>Category</th>
                <th>Price</th>
                <!-- <th>Logo</th> -->
            </tr> </table>
    <div *ngFor="let book of books">
        <table id="search-tbl">
    <tr id="tr">
        <td>{{book.id}}</td>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.publisher}}</td>
        <td>{{book.category}}</td>
        <td>{{book.price}}</td>
        <!-- <td>{{book.logo}}</td> -->
        <td><button id='sub-btn' (click)='subscribeBook(book.id)'>Subscribe Book</button></td>
    </tr>
    </table>
    </div>
    </div>

    <div id="error-div" *ngIf="isSubscrFailed">
        <h3 id="h3-err">{{ errorMessage }}</h3> 
      </div>

      <div id="success-div" *ngIf="!isSubscrFailed && isSuccessful">
        <h3 id="h3-success">  {{ this.content }}</h3>
      </div>

      <!-- <div class="alert alert-danger" *ngIf="isCancelSubscrFailed">
         {{ errorMessage }}
      </div> -->

      <!-- <div *ngIf="!isReadBookFailed && isSuccessful" class="alert alert-success">
        {{ this.bookObj.content }}
     </div>

     <div class="alert alert-danger" *ngIf="isReadBookFailed">
        {{ errorMessage }}
     </div> -->
    
    </div>